.restaurant-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5%;
  margin: 0 5%;
}

.restaurant-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 3px solid #c7a44f;
  border-radius: 10px;
  padding: 1rem;
  background-color: #f5f5f5;
  margin-right: auto;
  margin-bottom: 5%;
  overflow: hidden;
  width: 20%;
}

.restaurant-card:active {
  border-color: transparent;
}

.align {
  display: flex;
  align-items: center;
  margin-bottom: 1px;
}

.flag {
  font-size: 32px;
  margin-right: 0.5rem;
}

p {
  color: #2d4f81;
}

.title2 {
  font-family: "EB Garamond";
  font-size: 32px;
  font-weight: medium;
  color: #2d4f81;
}

.details {
  text-align: left;
}

.emporter,
.district {
  font-family: "Roboto";
  font-size: 22px;
  font-weight: regular;
}
